@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.activeLink::after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -6px;
  background: #b6e3ff;
  transition: width 0.2s;
}

.activeLink:hover::after {
  width: 100%;
}
.mobile-nav {
  display: none;
}

.nav-links-mobile {
  position: absolute;
  display: block;
  display: flex;
  flex-direction: column;
  top: 4.4rem;
  left: 0;
  /* transition: height 8s ease-in-out; */
  width: 100%;
  background: linear-gradient(200deg, #090c15, #0e111d);
}
.line {
  text-align: center;
  width: 1px;
  height: 120px;
  background: #eaeef2;
}
.overview {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgb(0 0 0 / 10%);
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  display: none;
}
.movie:hover .overview {
  height: 100%;
  display: block;
}

@media screen and (max-width: 767px) {
  .mobile-nav {
    display: block;
  }
  .all-links {
    display: none;
  }
  .activeLink:hover::after {
    width: 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
